<div class=well>
  <h2><strong>Key:</strong></h2>
  <p><img class="countIcons" src="./../images/beach.png" alt="general-question-icon"/>General Questions: {{generalQuestion}}</p>
  <p><img class="countIcons" src="./../images/whale-zone.png" alt="vertabrates-question-icon"/>Questions about Marine Vertabrates: {{vertabrateQuestion}}</p>
  <p><img class="countIcons" src="./../images/starfish.png" alt="invertabrates-question-icon"/>Questions about Marine Vertabrates: {{invertabrateQuestion}}
  </p>
</div>
