<div class="well">
<li>
  {{classification-icon question.classification}}
  {{#link-to 'question' question.id}}<h3>{{question.title}}</h3>{{/link-to}}
  <p> - posted by {{question.author}}</p>

  <i class="save large icon" {{action 'saveThisQuestion' question}}></i>



</li>
</div>
