<li class="well">
  <h4>{{question.title}}</h4>
  <p> - posted by {{question.author}}</p>
  {{edit-question question=question edit="edit"}}
  <button class="ui icon button"{{action 'delete' question}}><i class="trash icon"></i></button>
</li>
