<h1>Saved Questions:</h1>

{{#each savedQuestion.questions as |question|}}
  <div class="well">
    {{#link-to 'question' question.id}}<h3>{{question.title}}</h3>{{/link-to}}
    <p> - posted by {{question.author}}</p>
  </div>
{{/each}}

<button class="ui red button" {{action 'clearQuestions' question}}>Clear questions</button>
