<div class="ui inverted menu">
  <div class="item">
    <h1>Marine Q'n'A</h1>
  </div>
  <div class="item">
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'about'}}About{{/link-to}}
  </div>
    <div class="item">
    {{#link-to 'contact'}}Contact{{/link-to}}
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
