<h1 id="introText">The place for the curious marine enthusiast</h1>

{{classification-count}}
<h2>Current Questions:</h2>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
