<h2>Question from {{model.author}}:</h2>

{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}

{{edit-question question=model edit="edit"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
